<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/app.bundle.css">
 
  <title>Document</title>
</head>
<body>
  <h1>AJAX CRUD using JSON width webpack + babel + sass</h1>
  <form>
    <input id="userid" type="text" value="User id"><br />
    <input type="text" value="Password"><br />
    <input type="text" value="First name"><br />
    <input type="text" value="Last name"> <br />
    </form>
    
  <button id="btnget">GET</button>
  <button id="btnpost">POST</button>
  <button id="btnput">PUT</button>
  <button id="btndelete">DLETE</button>
  
  <div id="view"></div>
 <script src="js/app.bundle.js"></script>
</body>
</html>